@model NationalParks.Models.Parks

<h1>Drugs</h1>
<hr />

@foreach (var item in Model.results)
{
<div>
    <h3>
        Company Number:
        @Html.DisplayFor(modelItem => item.companynumb)
    </h3>
    <div>
    </div>
    <div>
        <h5>
            Receive date:
            @Html.DisplayFor(modelItem => item.receivedate)
        </h5>
    </div>
</div>
<br/>
}

<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>